html,
body {
    padding: 0;
    margin: 7px;
    width: 275px;
    transition: height ease-in-out .2s;
}

object {
    float: left;
    margin-right: 5px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #559a0b;
}

ul {
    list-style: none;
    margin: 0 10px 0 0;
}

#status_icon {
    margin-right: 15px;
}

#database_icon {
    margin-top: -2px;
}

#datastory {
    height: 15px;
    overflow: hidden;
    white-space: nowrap;
    margin: 20px 0 0 0;
    width: calc(100% - 10px);
}

.popup-container {
    font: lighter 10px 'Monoid', monospace;
    padding-top: 5px;
}

.popup-container h1 {
    font-size: 14px;
    margin: 0;
    display: inline-block;
}

.popup-quickmenu {
    float: right;
}

.popup-quickmenu a {
    display: block;
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
}

.popup-stats {
    margin-top: 5px;
}

.popup-info {
    float: right;
    padding-left: 40px;
    margin: 5px 5px 0 10px;
    color: rgb(240, 70, 0);
}

a.button-download {
    padding: 2px 0 0px 20px;
    background: transparent url(../assets/database.svg) no-repeat;
}

a.button-download:hover {
    background: transparent url(../assets/download_hover.svg) no-repeat;
}

a.button-reload {
    background: transparent url(../assets/reload.svg) no-repeat;
}

a.button-reload:hover {
    background: transparent url(../assets/reload_hover.svg) no-repeat;
}

a.button-info {
    background: transparent url(../assets/info.svg) no-repeat;
}

a.button-info:hover {
    background: transparent url(../assets/info_hover.svg) no-repeat;
}

.info-warn {
    background: transparent url(../assets/warning.svg) no-repeat;
}

.hidden {
    display: none;
}